body,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset,textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}
html,body{
	margin: 0px;
    padding:0px;
    width:100%;
    height: 100%;
	overflow: hidden;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;

}
#app{
    width: 100%;
    height: 100%;
}
.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
        normalize.css 中也包含这行 */
    overflow: hidden;
}
.cc-container{
    display: flex;
    width: 100%;
    height: 100%;
    clear: both;
    box-sizing: border-box;
    flex-direction:column; 
    background: url(../../assets/img/index/background-index.png) no-repeat center center;
    background-size:100% 100%;  
}
.nav {
    height: 60px;
    min-width: 96%;
    padding: 0 2%;
    color: #fff;
    clear: both;
    font-size: 12px;
    
    .nav-body {
        position: relative;
        width: 100%;
        height: 100%;
        clear: both;
        margin: 0 auto;
        text-align: center;
        .nav-left {
            float: left;
            margin: 10px 0;
            .menu-box{
                margin:0 10px 0 0;
                float: left;
                height: 40px;
                width: 40px;   
                font-size: 12px;
                color: #fff;
                .icon{
                    height: 20px;
                    font-size: 18px;
                }
                p{
                    line-height: 20px;
                }
            }
            div:hover{
                opacity: 0.8;
                cursor: pointer;
            }
        }
        .nav-center{
            position: absolute;
            top: 15px;
            left: 50%;
            display: inline-block;
            line-height: 30px;
            height: 30px;
            padding: 0 5px;
            transform:translateX(-50%);
            white-space: nowrap;
            background:rgba(0,0,0,1);
            border-radius:4px;
            opacity:0.4;
            text-align: center;
            font-size: 16px;
        }
        .nav-right{
            float: right;
            height: 100%;
            .icon{
                height: 16px;
                font-size: 18px;
            }

            .menu-box{
                float: left;
                margin:15px 5px; 
                height: 30px;
                width: 30px;
                line-height: 30px;
                cursor: pointer;
            }
            .begins{
                width: 90px;
                height: 34px;
                line-height: 34px;
                margin-top: 12px;
                background: #F9BB27;
                border-radius:5px; 
                overflow: hidden;
                
                span{
                    display: inline-block;
                    height: 34px;
                    margin-top: -10px;
                }
            }
            .change{
                width: 36px;
                height: 22px;
                line-height: 22px;
                margin-top: 19px;
                background: #333;
                border-radius: 3px;
            }
        }
    }
    
}
// 主体部分
.main{
    position: relative;
    left: 0;
    z-index: 1;
    margin:0 10px 10px;
    box-sizing: border-box;
    flex: 1;
    z-index: 998;
    transition: all .6s ease;
}