@import "./mixin";/*引入配置*/
body,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset,textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}
html,body{
	margin: 0px;
    padding:0px;
    width:100%;
    height: 100%;
	overflow: hidden;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}
#app{
    width: 100%;
    height: 100%;
}
.backgorund-FF9502{
    @include bg_color(#FF9502);
     border-color:#323232;
}
.backgorund-FF9502:hover{
    @include bg_color(rgb(253, 167, 47));
    border-color:rgb(251, 168, 51);
}
.backgorund-FF9502:active{
    @include bg_color(rgb(253, 167, 47));
    border-color:rgb(251, 168, 51);
}
.backgorund-FF9502:focus{
    @include bg_color(rgb(253, 167, 47));
    border-color:rgb(251, 168, 51);
}


.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
        normalize.css 中也包含这行 */
    overflow: hidden;
}
.cc-container{
    display: flex;
    width: 100%;
    height: 100%;
    clear: both;
    box-sizing: border-box;
    flex-direction:column; 
    background: url(../../assets/img/index/bg.png) no-repeat center center;
    background-size:100% 100%;  
    
}
.nav {
    height: 40px;
    min-width: 96%;
    padding: 0 10px;
    color: #fff;
    clear: both;
    font-size: 12px;
    background: #323232;
    .nav-body {
        position: relative;
        display: flex;
        align-items:center;/*垂直居中*/
        width: 100%;
        height: 100%;
        justify-content:space-between;
        clear: both;
        margin: 0 auto;
        .nav-left {
            margin:0;
            height: 40px;
            display: flex;
            align-items:center;/*垂直居中*/
            // justify-content: center;/*水平居中*/
            .menu-box{
                margin:0 10px 0 0;
                height: auto;
                width: auto;  
                font-size: 12px;
                color: #fff;
                >button{
                    background: #333;
                    border: none;
                    padding: 5px 10px;
                }
                >button:hover{
                    background: #999;
                }
                .icon{
                    height: 20px;
                    width: 20px;
                    font-size: 18px;
                    vertical-align: -5px;
                }
                p{
                    line-height: 20px;
                }
            }
            
        }
        .nav-center{
            line-height: 30px;
            height: 30px;
            padding: 0 5px;
            white-space: nowrap;
            background:rgba(0,0,0,1);
            border-radius:4px;
            opacity:0.4;
            text-align: center;
            font-size: 16px;
        }
        .nav-right{
            display: flex;
            align-items:center;/*垂直居中*/
            height: 100%;
            .icon{
                height: 16px;
                width: 16px;
                font-size: 18px;
                vertical-align: -3px;
            }

            .menu-box{
                margin:0 0 0 10px; 
                >button{
                    background: transparent;
                    border: 0;
                }
                
            }
            .cut-wheat{
                button{
                    padding: 4px 6px;
                    background: #5c5b5b;
                }
            }
            .setpadding{
                button{
                    padding: 5px;
                }
                button:hover{
                    background: #5c5b5b;
                }
            }
            .begins{
                button{
                    padding: 7px 10px;
                    font-size: 12px;
                    width: 90px;
                }
                
                .icon{
                    margin-right:3px; 
                    width: 14px;
                }
            }
            .backgorund-EC422F{
                background: #EC422F;
                border: 1px solid #EC422F;
            }
        }
    }
    
}
// 主体部分
.main{
    position: relative;
    left: 0;
    display: flex;
    flex: 1;
    z-index: 1;
    margin:30px 35px 20px 35px;
    box-sizing: border-box;
    transition: all .6s ease;
}
.right-box{
    position: relative;
    height: 100%;
    width: 250px; 
    display: flex;
    flex-direction:column;
}
.presenter-video-box{
    width: 100%;
    height: 140px;
    text-align: center;
    vertical-align: center;
    color: #fff;
    line-height: 195px;
    border-radius: 5px;
    z-index:0;
    border-top-left-radius: 6px;
    border-top-right-radius:6px;
    background: black;
}
.student-video-box{
    padding: 5px 0 0;
    background:rgba(0,0,0,0.6);
}
//切换学生视频位置
.student-position-fixd{
    justify-content:flex-end;
    .main-board{
        position: fixed;
        top: 70px;
        bottom: 110px;
        right: 285px;
        left: 35px;
        
    }
    .student-video-box{
        position: fixed;
        right: 285px;
        bottom: 20px;
        left: 35px;
        z-index: 2000;
        background:rgba(0,0,0,0.7);
        padding: 0;

        .video-position{
            float: left;
            width: 160px;
            height: 90px;
            .video-wedget{
                border-radius:0; 
            }
        }
    }
}

//设置聊天图标
.main-right .msg-img{
  margin: 0 4px;
  height: 20px;
}


//画板组件
#draw-parent {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#draw-box {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#draw {
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #fff;
//   background:rgba(43,43,43,0.8);
}
#draw-board {
  display: block;
  margin: 0 auto;
  position: relative;
}
#draw iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}